<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Pensiones de excluidos por FFAA y Empleados </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Nombres</th>
                                  <th scope="col">Apellidos</th>
                                  <th scope="col">Edad</th>
                                  <th scope="col">Contribucion</th>
                                  <th scope="col">Exclusión</th>
                                  <th scope="col">Pensión</th>
                                  <th scope="col">Afp</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Rolando </th>
                                  <td>Martinez Rocco</td>
                                  <td>41</td>
                                  <td><p style="color: red;font-size: 18px;">↓ $823.569</p></td>
                                  <td><p style="color: green;font-size: 18px;">FF.AA</p></td>
                                  <td><p style="color: green;font-size: 18px;">↑ $7.268.823</p></td>
                                 
                                  <td>HABITAT</td>
                                </tr>
                                <tr>
                                    <th scope="row">Rolando </th>
                                    <td>Martinez Rocco</td>
                                    <td>41</td>
                                    <td><p style="color: red;font-size: 18px;">↓ $129.336</p></td>
                                    <td><p style="color: green;font-size: 18px;">Empleado</p></td>
                                    <td><p style="color: green;font-size: 18px;">↑ $6.745.298</p></td>
                                   
                                    <td>HABITAT</td>
                                  </tr>
                                
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-github">Suma Pensión: $ 952.905 </button>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
  </div>
