<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Rentas Vitalicias Mes</p>
                      <h3 class="card-title">$34,896,245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Últimas 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">manage_accounts</i>
                    </div>
                    <p class="card-category">Fondos mutuos semanal</p>
                    <h3 class="card-title">1.583 personas</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> *Últimas 24 horas
                    </div>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">Por excluición</i>
                      </div>
                      <p class="card-category">Fondos mutuos</p>
                      <h3 class="card-title">$75.896.222</h3>
                  </div>
             
              </div>
          </div>
      
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">rentas diarias</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> incremento en rentas vitalicias hoy</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> actualizado hace 4 minutos atrás
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Últimas afiliaciones</h4>
                    <p class="card-category">nuevas afiliaciones a 03 mayo, 2021</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Contribucion</th>
                            <th scope="col">Pensión</th>
                            <th scope="col">Afp</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Agustin </th>
                            <td>Vejar Reyes</td>
                            <td>59</td>
                            <td><p style="color: red;font-size: 18px;">↓ $123.926</p></td>
                            <td><p style="color: green;font-size: 18px;">↑ $17.426.145</p></td>
                            <td>HABITAT</td>
                          </tr>
                          <tr>
                            <th scope="row">Rolando </th>
                            <td>Martinez Rocco</td>
                            <td>41</td>
                            <td><p style="color: red;font-size: 18px;">↓ $823.569</p></td>
                            <td><p style="color: green;font-size: 18px;">↑ $7.268.823</p></td>
                            <td>HABITAT</td>
                          </tr>
                          <tr>
                            <th scope="row">Ismael </th>
                            <td>Fernandez Juevewnal</td>
                            <td>26</td>
                            <td><p style="color: red;font-size: 18px;">↓ $596.462</p></td>
                            <td><p style="color: green;font-size: 18px;">↑ $2.124.596</p></td>
                            <td>HABITAT</td>
                          </tr>
                          <tr>
                            <th scope="row">Fernando </th>
                            <td>Torres Reina</td>
                            <td>69</td>
                            <td><p style="color: red;font-size: 18px;">↓ $238.444</p></td>
                            <td><p style="color: green;font-size: 18px;">↑ $9.896.112</p></td>
                            <td>HABITAT</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
          <!-- <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div> -->
          <!-- <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
      <div class="row">
         
        
      </div>
  </div>
</div>
