<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Calculo total de pensiones y rentas vitalicias</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Contribucion</th>
                                <th scope="col">Pensión</th>
                                <th scope="col">Afp</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Rolando </th>
                                <td>Martinez Rocco</td>
                                <td>41</td>
                                <td><p style="color: red;font-size: 18px;">↓ $823.569</p></td>
                                <td><p style="color: green;font-size: 18px;">↑ $7.268.823</p></td>
                                <td>HABITAT</td>
                              </tr>
                              <tr>
                                <th scope="row">Rodrigo </th>
                                <td>Beltrán Fietz</td>
                                <td>48</td>
                                <td><p style="color: red;font-size: 18px;">↓ $1.596.895</p></td>
                                <td><p style="color: green;font-size: 18px;">↑ $9.596.482</p></td>
                                <td>HABITAT</td>
                              </tr>
                              <tr>
                                <th scope="row">Gustavo </th>
                                <td>Cardenas Birl</td>
                                <td>36</td>
                                <td><p style="color: red;font-size: 18px;">↓ $1.8854.895</p></td>
                                <td><p style="color: green;font-size: 18px;">↑ $11.566.125</p></td>
                                <td>HABITAT</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button type="button"  class="btn btn-success">Total de contribuciones:<p style="color: red;font-size: 18px;">↓ $ 4.308.895</p></button>
                  </div>
              </div>
          </div>
       
      </div>
  </div>
</div>
